sacrebleu
evaluate==0.4.6
datasets==2.20.0
numpy
pandas
tqdm
regex
sqlitedict
pytablewriter
transformers<5
huggingface-hub>=0.25,<1.0
fsspec==2024.5.0
pyarrow>=15.0.0
accelerate>=0.21.0
torch
pyyaml
safetensors
peft